.Home {
  height: 100vh;
  background: url("assets/portada.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*Flexbox*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.logo {
  height: 150px;
  width: 150px;
  margin: 50px;
  position: absolute;
  left: 0;
}

.btn {
  height: 50px;
  width: 180px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color: #f33b58;
  border: 1px solid #d54570;
  color: #ffff;
  
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width:1000px){

  .Home {
    background: url("assets/portada-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .logo {
     height: 80px;
     width: 80px;
     margin: 30px;
  }
  .btn {
    height: 40px;
    width: 170px;
    font-size: 15px;
    margin-bottom: 50px;
  }
}

