.Categories {
  background: rgb(255, 255, 255);
  height: 80vh;
  margin: 20px 10vw;
  display: flex;
  flex-direction: column;
}

.Categories h4 {
  color: rgba(0, 0, 0, 0.582);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .Categories {
    margin: 20px 10vw;
  }

  .Categories h4 {
    margin-left: 3.2%;
    font-size: 30px;
    font-weight: normal;
  }
}
