.green {
  background-image: url(assets/banner1.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 15vh;
}

.orange {
  background-image: url(assets/banner2.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 15vh;
}

.navbar-logo {
  height: 10vh;
  margin-left: 25px;
}

@media screen and (min-width: 700px) {
  .navbar-logo {
    margin-left: 50px;
  }
}
