.Slider {
  background-image: url("assets/barra.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100vw;
  margin: 1.5% 0%;
  /* background-color: #fff; */
  /* display: flex; */
  /* flex: 1; */
}

/* .Slider img {
  height: 15vh;
}

.slider-item {
  background-color: rgb(233, 233, 233);
  width: 12.5vw;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-item:hover {
  cursor: pointer;
  opacity: 0.8;
} */

@media screen and (max-width: 900px) {
  .Slider {
    background-image: url("assets/barra-mobile.png");
    margin: .5% 0%;
  }
}